@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Zen Maru Gothic", serif;
}

body {
    background-image: url('../assets/ANO\ NOVO\ 2025\ 2.png');
    background-size: cover;
    background-position: center;
    color: #3E3970;

}
